@import '../../scss/colors.scss';

$tabForegroundColor: $white;
$tabActiveBackgroundColor: $blue;
$tabHoverBackgroundColor: lighten($blue, 10%);

.tabs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.tab-link {
  // Responds to the .tabs flex and stretches.
  flex: 1;
  
  // Set myself to flex and center so each stretch has centered content
  display: flex;
  justify-content: center;

  color: $tabForegroundColor;
  padding: .5rem 1rem;
  border-radius: .25rem;
  cursor: pointer;

  &.active {
    background: $tabActiveBackgroundColor;    
  }

  &:not(.active):hover {
    background: $tabHoverBackgroundColor;
  }
}
