@import '../../scss/colors.scss';

$tableRowBackgroundColor: $gray-900;
$tableRowColor: $white;
$tableRowDividerColor: $gray-800;

.table {
  display: grid;

  .cell {
    color: $tableRowColor;
    background: $tableRowBackgroundColor;
    border-bottom: 1px solid $tableRowDividerColor;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
  }
}
