* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #626970;
  outline: 1px solid #555C63;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.app_fade_in {
  animation: fadein 1.0s;
}