@import './colors.scss';

$primaryForeColor: $white;
$primaryBackColor: $blue;
$successForeColor: $white;
$successBackColor: $green;
$dangerForeColor: $white;
$dangerBackColor: $red;

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  outline: none;

  &-primary {
    color: $primaryForeColor;
    border-color: $primaryBackColor;
    background: $primaryBackColor;
    &:hover {
      background: darken($primaryBackColor, 7.5%);
      border-color: darken($primaryBackColor, 10%);
    }
  }

  &-success {
    color: $successForeColor;
    border-color: $successBackColor;
    background: $successBackColor;
    &:hover {
      background: darken($successBackColor, 7.5%);
      border-color: darken($successBackColor, 10%);
    }
  }

  &-danger {
    color: $dangerForeColor;
    border-color: $dangerBackColor;
    background: $dangerBackColor;
    &:hover {
      background: darken($dangerBackColor, 7.5%);
      border-color: darken($dangerBackColor, 10%);
    }
  }
}
