@import '../../scss/colors.scss';

$selectBtnBackground: $blue;
$selectBtnTextColor: $white;
$selectBtnFocusBorderColor: $yellow;

.select-btn {
  font-size: 16px;
  background: $selectBtnBackground;
  color: $selectBtnTextColor;
  border: 1px solid $selectBtnBackground;
  border-radius: 5px;
  width: 120px;
  height: 60px;
  outline: none;

  &:focus {
    border: 1px solid $selectBtnFocusBorderColor;
  }

  &:hover {
    background: lighten($selectBtnBackground, 15%);
    border-color: lighten($selectBtnBackground, 15%);
  }
}
